*{
    box-sizing: border-box
}
.menu{
    background-color: lightgray;
    list-style-type: none;
    float: none;
    padding-bottom: 30px;
    display: flex;
}
.menu li{
    color: #f1f1f1;
    display: flex;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 100px;
    margin-top: 5px;
}
.menu .search #register{
    color: aliceblue;
    background-color: rgb(66, 112, 66);
}
.menu .search{
    margin-top: 15px;
    margin-left: 250px;
}
.menu li,a{
    text-decoration: none;
    color: #222;
    display: block;
    font-weight: bold;
}
.menu a:hover{
    background-color: white;
}
.menu .sub-menu{
    position: absolute;
    display: none;
    top: auto;
    left: auto;
}
.menu li:hover .sub-menu{
    background-color: #f1f1f1;
    display: block;
    z-index: 9999;
    padding-right: 0px;
    padding-left: 0px;
}
.sub-menu  a:hover{
    color: #222;
}
#container-block{
    margin: 0;
    width: 1520px;
    height: 1000px;
    position: absolute;
    top: 150px;
    left: 200px;
}
#block-1{
    margin: 0;
    width: 500px;
    height: 1000px;
    position: absolute;
}

#pic-1 img{
    margin: 0;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 50px;
}

#title-1{
    margin: 0;
    width: 500px;
    height: auto;
    position: absolute;
    top: 360px;
    font-size: 20px;
    font-weight: bold;
}

#sub-title-1{
    margin: 0;
    width: 500px;
    height: auto;
    position: absolute;
    top: 420px;
    font-size: 18px;
}

#block-2{
    margin: 0;
    width: 500px;
    height: 1000px;
    position: absolute;
    left: 510px;
}

#pic-2 img{
    margin: 0;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 50px;
}

#title-2{
    margin: 0;
    width: 500px;
    height: auto;
    position: absolute;
    top: 360px;
    font-size: 20px;
    font-weight: bold;
}

#sub-title-2{
    margin: 0;
    width: 500px;
    height: auto;
    position: absolute;
    top: 420px;
    font-size: 18px;
}

#block-3{
    margin: 0;
    width: 500px;
    height: 1000px;
    position: absolute;
    left: 1020px;
}

#pic-3 img{
    margin: 0;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 50px;
}

#title-3{
    margin: 0;
    width: 500px;
    height: auto;
    position: absolute;
    top: 360px;
    font-size: 20px;
    font-weight: bold;
}

#sub-title-3{
    margin: 0;
    width: 500px;
    height: auto;
    position: absolute;
    top: 420px;
    font-size: 18px;
}
.noidung #quangcao{
    background-color: blue;
    color: aliceblue;
    font-size: 30px;
    margin: 10px 10px;
    width: 1920px;
    height: auto;
    position: absolute;
    top: 900px;
}
#footer{
    background: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    width: 1920px;
    height: auto;
    position: absolute;
    top: 1360px;
}
#quangcao img{
    height: 400px;
    width: 400px;
}
h3{
    color: black;
}

